header { display: block; margin-bottom: 1px; }
nav { display: block; width: 20%; float: left; }
section { display: block; width: 70%; float: right; }
body{background-color: #4488AA; font-family: Lucida Bright, liberation; color: #99EEEE; font-size: 16px;}
a:link{color: #FFFFFF; text-decoration: none;}
a:visited{color: #99EEEE; text-decoration: none;}
.ender{float: right; text-align: right; line-height: 140%; font-size: 15px; font-family: Karla;}
.ImgLogo{align-items:'left'; border-bottom: solid; border-width: 3px; border-color: #FFFFFF; margin-bottom: 6px; padding-bottom: 15px;}
.apres{font-size: 18px;font-family:Stoke;}
ul{color: #FFFFFF; line-height: 230%; margin-top: 40px;font-family: Karla; font-size: 20px;
   list-style-image: url(../img/BrilhoMark.png) } 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}


.FormBox{width: 520px; padding: 10px; margin-top: 10px ; text-align: center;
     background-color: #0066dd; border: 3px solid;  
     border-color: #000055; font-size: 16px; font-family: Karla}/**/
legend{text-align: left;}/**/

.FSLinhaInteira{color: #FFFFFF ; width: 490px; text-align: left; line-height: 30px;} /**/    
.FSColEsq{width: 210px; text-align: center; float: left;}/**/
.FSColDir{width: 210px;text-align: center; float: right;}/**/


.LinhaForm{margin: 0px; width: 30px; padding: 6px 3px 0px 3px;}/**/
.ColEsq{width: 180px; float: left; display: block;}
.ColDir{width: 180px; float: right; display: block;}
.LabBox{width: 80px; float: left; display: block;}
.botoes{text-align: right; margin: 20px 10px 0px 10px;}/**/

.InpBoxGnd{width: 394px; float: center; display: block;} /**/
.InpBoxMed{width: 80px; float: right; display: block;}
.InpBoxMed1{width: 80px; float: left; display: block;}
.numDD{ size: 2; width: 35px;}/**/
.numQD{size: 4; width: 50px;}/**/
#linhaender{height: 50px;}
#inpender{width: 494px; height: 800px;}


.listaCompras{width: 394px; float: center; display: block;}